body{
	background-color: black !important;
	font-family: 'Bungee', cursive;
}

.title{
	position: relative;
	top: 55px;
	font-family: 'Bungee Shade', cursive;
	font-size: 50px;
}
.arcade{
	max-width: 1024px;
	z-index: -3;
}

.jumbotron{
	background-color:#FFCB15;
	width: 1024px;
	margin-left: ;
}

.jumbotron p{
	font-size: 25px;
}

.soundbutton{
	background-color:#FFCB15;
	border-color: #7F6000;
	z-index:3;
	margin-bottom: 25px;
}
.img-container {
    display: inline-block;
    position: relative;
}
.positioning{
    position: absolute;
    right: 185px;
    bottom: 691px;
    padding: 4px;
}

#myCanvas{
	background-color: black;
}
@media screen and (max-width: 980px){

}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 640px){

}